@import "https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";



:root{
--color-background: #eee9d4;
}

* {
    margin: 0;
    border: 0;
    padding: 0;
}